@import url('https://fonts.googleapis.com/css?family=Roboto');

.container {
  border: 1px solid gainsboro;
  padding: 20px;
  width: 401px;
  min-height: 400px;
  max-height: 600px;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.price {
  overflow-wrap: break-word;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  font-weight: 400;
  margin-bottom: 7px;
}

.confirm-booking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rate {
  font-size: 24px;
  line-height: 26px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  font-weight: 800;
}

.per-night{
  font-weight: 600;
  margin: 0px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: normal;
  color: #484848;
  display: inline;
}

.cost {
  float: right;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
}

.fee {
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: normal;
  color: #484848;
  font-weight: normal;
}

.total {
  font-weight: 1000;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  color: rgb(72, 72, 72);
  display: inline;
}

.stars {
  font-weight: 500;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
  color: #008489;
  margin-bottom: 10px;
}

.stars span.reviews {
  color: #484848;
}

.stars svg {
  fill: #008489;
}

.fee-line-break {
  margin-top: 11px;
  margin-bottom: 11px;
  border-bottom: 1px solid var(--color-divider, #EBEBEB);
}

.line-break {
  margin-top: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--color-divider, #EBEBEB);
}

.calendar {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.label {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 9px;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: normal;
}

.guest {
  margin-top: 20px;
  margin-bottom: 20px;
}

.guest-dropdown {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: normal;
  color: #484848;
  box-sizing: border-box;
  background: #ffffff;
  text-align: left;
  border-radius: 2px;
  padding: 8px;
  line-height: 22px;
  display: block;
  border: 1px solid #EBEBEB;
}

.book-button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: 30px auto 20px auto;
  display: block;
  text-align: center;
  position: relative;
  background-color: #FF5A5F;
  border-radius: 4px;
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 22px;
  color: #ffffff;
}

.book-text {
  text-align: center;
  position: relative;
  margin-top: 10px;
  font-weight: 600;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}